<div class="flex">
  <div [ngClass]="{'dark-theme': isDarkTheme, 'light-theme': !isDarkTheme}" class="flex">
    <aside class="p-4 h-screen" [ngStyle]="{
      'background-color': isDarkTheme ? 'var(--bg-color-dark)' : 'var(--bg-color-light)',
      'color': isDarkTheme ? 'var(--text-color-dark)' : 'var(--text-color-light)'
    }">

      <div class="flex items-center">
        <img src="../../assets/images/icon.png" alt="" class="w-10 h-10">
        <h1 class="text-2xl font-semibold mb-4 ml-2">To-Do</h1>
      </div>
      <nav>
        <ul [ngClass]="{'dark-theme': isDarkTheme, 'light-theme': !isDarkTheme}" class="space-y-2">
          <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="block p-2">Главная</a></li>
          <ng-container  *ngIf="authService.isLoggedIn()">
            <li><a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page" class="block p-2">Профиль</a></li>
            <li><a routerLink="/tasks" routerLinkActive="active" ariaCurrentWhenActive="page" class="block p-2">Список задач</a></li>
            <li ><button (click)="logout()" class="block p-2">Выход</button></li>
          </ng-container>
          
  

          <ng-container *ngIf="!authService.isLoggedIn()">
            <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page" class="block p-2">Регистрация</a></li>
            <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="block p-2">Вход</a></li>
          </ng-container>

 
        
            <label id="switch" class="switch">
              <input type="checkbox" (change)="toggleTheme()" [checked]="isDarkTheme" id="slider">
              <span class="slider round"></span>
            </label>

        </ul>
      </nav>
    </aside>
  </div>
